body {
   background-image: url('Instruments.png');
   opacity:1;
   background-blend-mode: normal;
   background-size: cover;  
   min-height: 100vh;
}


.container-fluid{
  max-width: 85%;
  max-height: 95%;
}

.pt-5 {
   background-color: blanchedalmond;
   min-height: 85vh;
   padding-top: 10px;
}

 .h1 {
    color: rgb(95, 53, 2);
 } 


 #heading{
   background-color: blanchedalmond;
 }

 .card-img-top{
   width: 100%;
   height: 100%;
   object-fit: cover;
 }

 .card-title{
   font-size: 1rem;
   font-weight: 900;
 }

 .card-text{
   font-size: 0.75rem;
 }

.dropdown-item{
  color:white;
}

.right{
  position: absolute;
  right: 0;
  text-align: right;
}


.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}


.splash{
	cursor: pointer;
	position: fixed;
	text-align: center;

	top: 0;
	left: 0;
	height: 100vh;
	width: 95%;
  z-index: 2000;

}
	
.splash.display-none {
	cursor: pointer;
	position: fixed;
  opacity: 0;
	text-align: center;
	top: 10;
	left: 10;
	height: 0%;
	max-width: 0%;
  z-index: -999;
 
}

.hidden{
		display: none;
		transition: 0.5s;
	}

.splash > img {

	max-width: 85vw;
	height: 85vh;
	border: 10px rgb(60, 136, 85) solid;
	border-radius: 50px;
}

.splash.display-none > img {

	max-width: 0vw;
	height: 0vh;
  border: 0px;

}

@keyframes fadeIn {
  to{
    opacity: 1;
  }
}

@keyframes fadeOut {
  to{
    opacity: 0;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;

}

.fade-out {
  opacity: 1;
  animation: fadeOut 1s ease-out forwards;
  
}