{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="container mt-2">
    {% block page_title %}
    <h2 class="display-6">Gallery</h2>
    {% endblock page_title%}

    <div class="table-responsive">
      <div class="row">

        {% for article in articles %}
          <div class="col-md-3">
                <div class="card">
                  <a href="{% get_media_prefix %}{{ article.image_file }}" target="_blank">
                  <img src="{% get_media_prefix %}{{ article.image_file }}"  class="card-img-top" title="{{ article.heading }}" alt="{{ article.heading }}">
                  </a>
                  <div class="card-body">
                    <div class="row">
                      {% if user %}
                        <div class="col"><h6 class="card-title">{{ article.heading }}</h6></div> 
                        {% endif %}
                        {% if user.is_authenticated %}
                        <div class="col"><a class=" btn btn-danger btn-sm float-end" role="button" href="{% url 'edit_gallery' article.id %}">Edit</a></div>
                        {% endif %}
                    </div> 
                    <div class="row">
                        <p class="card-text">{{ article.content_text }}</p>
                    </div> 
                  </div>
                </div> 
          </div>
        {% endfor %}
<footer class="fixed-bottom text-start">
    <div class="container">
          <span>Images courtesy of Murray White</span>
   </div>
</footer>         
      </div>
        
    </div>
  </div>


{% endblock content %}