{% extends "base.html" %}
{% block content %}
{% load static %}


{% block page_title %}
<div class="row"><h2 class="display-6">Music Catalogue</h2>{% include 'BCB/search_music.html' %}</div>
{% endblock page_title%}



<div class="table-responsive">
    
<table class="table table-striped">
    <thead>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">File</th>
        <th scope="col" colspan="2">Actions</th>
    </thead>
    <tbody>
        {% for tune in items_page %}

                <tr>               
                    <td scope="row">{{ tune.title }}</td>
                    <td scope="row"><small>{{ tune.description }}</small></td>
                    <td scope="row"><a href="uploads/{{ MEDIA_URL}}{{tune.file}}" class="btn btn-secondary btn-sm" target="-blank">Download PDF</a></td>
                    {% if user.is_authenticated %}
                        <td scope="row"><a href="{% url 'delete_tune' tune.id %}" class="btn btn-secondary btn-sm" onclick="return confirm('Are you sure you want to delete this tune?');">Delete Tune</a></td>
                        <td scope="row"><a class="btn btn-secondary btn-sm" href="{% url 'edit_music' tune.id %}">Edit</a></div>
                        {% endif %}
                </tr>
                

        {% endfor %}
    </tbody>
</table>

{% include 'BCB/pagination.html' %}
<br>
</div>
{% endblock content %}